<!-- Modal warning-->
<div class="modal fade" id="dialog-warning" tabindex="-1" role="dialog" aria-labelledby="dialog-warning" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body del-warning" role="alert" id="dialog-warning-body">
				Are you sure?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" id="warning-continue">Continue</button>
				<button type="button" data-dismiss="modal" class="btn" id="warning-cancel">Cancel</button>
			</div>
		</div>
	</div>
</div>