<!-- Modal -->
<div class="modal fade" id="component-common-modal" tabindex="-1" role="dialog" aria-labelledby="component-common-modal" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="component-common-modal-label"></h4>
			</div>
			<div class="modal-body" id="component-modal-body" style="padding:20px;">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal" 
				id="dialog-cancel">Cancel</button>
				<button type="button" class="btn btn-secondary" 
				id="dialog-delete">Delete</button>
				<button type="button" class="btn btn-primary" 
				id="dialog-save">Save</button>
			</div>
		</div>
	</div>
</div>