<!DOCTYPE html>
<html>
<body>
	<div>
		<div id="message"></div>
		<div id="customer-header">
			<h1>Customers</h1>
		</div>
	</div>
	<div>
		<button id="add-customer" class="btn-as-link" style="font-size: 18px;"
		identifier="customer.customerId" mode="add">
			<span class="fa fa-plus-circle fa-lg" aria-hidden="true"></span>
			Add New Customer
		</button>
	</div>
	<br >
	<div id="customer-content" class="box"></div>
	<div id="customer-footer"></div>
	<div id="common-dialog"></div>
</div>
<script type="text/javascript" src="/static/customer.js"></script>
</body>
</html>