<!DOCTYPE html>
<html>
<body>
	<div>
		<div id="message"></div>
		<div id="report-header">
			<h1>Reports</h1>
		</div>
		<div class="form-inline" role="form">
			<select class="form-control" id="report-selector">
				<option value="0">Today's order</option>
				<option value="-1">Yesterday's order</option>
				<option value="-2">Day before yesterday's order</option>
				<option value="m">Current month's order</option>
				<option value="-1m">Previous month's order</option>
				<option value="y">Current year's order</option>
			</select> 
			<button id="report-orders" class="form-control btn-as-link" style="font-size: 18px;" >
				<span class="fa fa-file-text-o fa-lg" aria-hidden="true"></span>
				View Report
			</button>
			<button id="report-orders-download" class="form-control btn-as-link" style="font-size: 18px;">
				<span class="fa fa-download fa-lg" aria-hidden="true"></span>
				Download Report
			</button>
		</div>
		<br >
		<div id="report-content">
			<div id="report-viewer">
				<object id="report-viewer-obj" width="100%" height="800"/>
			</div>
			<div id="report-download">
			</div>
		</div>
		<div id="report-footer"></div>
		<div id="common-dialog"></div>
		<div id="common-dialog-warning"></div>
	</div>
	<script type="text/javascript" src="/imanager/static/report.js"></script>
</body>
</html>