<!DOCTYPE html>
<html>
<body>
	<div>
		<div id="message"></div>
		<div id="report-header">
			<h1>Reports</h1>
		</div>
		<div>
			<a id="report-orders" class="btn-as-link" style="font-size: 18px;" 
			href="/imanager/report/order?date=30-10-2016">
				<span class="fa fa-file-text-o fa-lg" aria-hidden="true"></span>
				Order Report
			</a>
		</div>
		<br >
		<div id="report-content"></div>
		<div id="report-footer"></div>
		<div id="common-dialog"></div>
		<div id="common-dialog-warning"></div>
	</div>
	<script type="text/javascript" src="/imanager/static/report.js"></script>
</body>
</html>